# Eclipse workspace folders (for those using the repository root as their eclipse worksace)
.metadata
.recommenders

# Eclipse output folders for all projects under source/
bin

# IntelliJ IDEA workspace data
/.idea/

# Maven builds
target