<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

     <extension-point id="createBuildConfigurationWizards" name="%extension-point.createBuildConfigurationWizards.name" schema="schema/createBuildConfigurationWizards.exsd"/>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.microsoft.tfs.client.common.ui.teambuild.editors.BuildExplorer"
            contributorClass="com.microsoft.tfs.client.common.ui.teambuild.editors.BuildExplorerEditorActionBarContributor"
            default="false"
            icon="icons/QueueBuild.gif"
            id="com.microsoft.tfs.client.common.ui.teambuild.editors.BuildExplorer"
            name="%editor.buildExplorer.name"/>
      <editor
            class="com.microsoft.tfs.client.common.ui.teambuild.editors.BuildReport"
            contributorClass="com.microsoft.tfs.client.common.ui.teambuild.editors.BuildReportEditorActionBarContributor"
            default="false"
            icon="icons/QueueBuild.gif"
            id="com.microsoft.tfs.client.common.ui.teambuild.editors.BuildReport"
            name="%editor.buildReport.name"/>
   </extension>
   
   <extension
         point="org.eclipse.ui.views">
       
       <!-- Deprecated watched builds view -->
       <view
              allowMultiple="false"
              category="com.microsoft.tfs.client.common.ui.views.deprecated"
              class="com.microsoft.tfs.client.common.ui.views.DeprecatedByTeamExplorerView"
              id="com.microsoft.tfs.client.common.ui.teambuild.views.WatchedBuildsView"
              icon="icons/BuildsNodeClosed.gif"
              name="%view.watchedBuilds.name" 
              restorable="false" />
      <view
            allowMultiple="false"
            category="com.microsoft.tfs.client.common.ui.views"
            class="com.microsoft.tfs.client.common.ui.teambuild.teamexplorer.views.TeamExplorerBuildView"
            icon="icons/teamexplorer/Builds16x16.png"
            id="com.microsoft.tfs.client.common.ui.teambuild.teamexplorer.views.TeamExplorerBuildView"
            name="%view.teamExplorerBuild.name"
            restorable="true"/>              
   </extension>
   
   <extension
         point="com.microsoft.tfs.client.common.buildStatusManagerListeners">
       <listener
              class="com.microsoft.tfs.client.common.ui.teambuild.buildstatus.BuildStatusAlerter" />
   </extension>
   
   <extension
         point="org.eclipse.ui.preferencePages">
       <page
             category="com.microsoft.tfs.client.common.ui.prefs.MainPreferencePage"
             class="com.microsoft.tfs.client.common.ui.teambuild.prefs.BuildNotificationPreferencePage"
             id="com.microsoft.tfs.client.common.ui.teambuild.prefs.BuildNotificationPreferencePage"
             name="%preferencePage.buildNotification.name"/>
   </extension>

   <extension
         point="org.eclipse.ui.popupMenus">

<!-- Team Build Context Menus -->

<!-- Team Explorer Context Menu -->
	      <objectContribution
	            adaptable="false"
	            id="com.microsoft.tfs.client.common.ui.teambuild.buildexplorer.QueuedBuild"
	            objectClass="com.microsoft.tfs.core.clients.build.IQueuedBuild">
             <action
                class="com.microsoft.tfs.client.common.ui.teambuild.teamexplorer.actions.ViewControllerQueueForQueuedBuildAction"
                enablesFor="1"
                id="com.microsoft.tfs.client.common.ui.teambuild.teamexplorer.actions.ViewControllerQueueForQueuedBuildAction"
                label="%action.teamExplorerBuildDefinitionNode.viewconrollerqueue.label"
                menubarPath="group4">
             </action>

             <!-- Removed: this was for testing.  This could be useful for build notifications on general
                  (non gated) builds, but we would need to redo some tests in the notification listener
                  to allow for this. -->
             <!--
	         <action
                class="com.microsoft.tfs.client.common.ui.teambuild.actions.PinBuildAction"
                enablesFor="+"
                id="com.microsoft.tfs.client.common.ui.teambuild.actions.PinBuildAction"
                label="%action.queuedBuild.pinBuild.label"
                tooltip="%action.queuedBuild.pinBuild.tooltip"
                menubarPath="group2.bottom"/>
             -->

	         <action
                class="com.microsoft.tfs.client.common.ui.teambuild.actions.PostponeBuildAction"
                enablesFor="+"
                id="com.microsoft.tfs.client.common.ui.teambuild.actions.PostponeBuildAction"
                icon="platform:/plugin/com.microsoft.tfs.client.common.ui.teambuild/icons/QueueStatusPostponed.gif"
                label="%action.queuedBuild.postponeBuild.label"
                menubarPath="group2.bottom"/>
	         <action
                class="com.microsoft.tfs.client.common.ui.teambuild.actions.StopBuildAction"
                enablesFor="+"
                id="com.microsoft.tfs.client.common.ui.teambuild.actions.StopBuildAction"
                icon="platform:/plugin/com.microsoft.tfs.client.common.ui.teambuild/icons/QueueStatusCanceled.gif"
                label="%action.queuedBuild.stopBuild.label"
                menubarPath="group2.bottom"/>

			 <menu label="%menu.queuedBuild.setPriority.label" path="group2.middle" id="com.microsoft.tfs.client.common.ui.teambuild.priority.popupSubMenu">
			 	<groupMarker name="content" />
			 	<separator name="additions" />
			 </menu>
		         <action
	                class="com.microsoft.tfs.client.common.ui.teambuild.actions.SetPriorityAction"
	                enablesFor="+"
	                id="com.microsoft.tfs.client.common.ui.teambuild.actions.SetPriorityAction.Low"
	                label="%action.queuedBuild.setPriority.low.label"
	                menubarPath="com.microsoft.tfs.client.common.ui.teambuild.priority.popupSubMenu/content"/>
		         <action
	                class="com.microsoft.tfs.client.common.ui.teambuild.actions.SetPriorityAction"
	                enablesFor="+"
	                id="com.microsoft.tfs.client.common.ui.teambuild.actions.SetPriorityAction.BelowNormal"
	                label="%action.queuedBuild.setPriority.belowNormal.label"
	                menubarPath="com.microsoft.tfs.client.common.ui.teambuild.priority.popupSubMenu/content"/>
		         <action
	                class="com.microsoft.tfs.client.common.ui.teambuild.actions.SetPriorityAction"
	                enablesFor="+"
	                id="com.microsoft.tfs.client.common.ui.teambuild.actions.SetPriorityAction.Normal"
	                label="%action.queuedBuild.setPriority.normal.label"
	                menubarPath="com.microsoft.tfs.client.common.ui.teambuild.priority.popupSubMenu/content"/>
		         <action
	                class="com.microsoft.tfs.client.common.ui.teambuild.actions.SetPriorityAction"
	                enablesFor="+"
	                id="com.microsoft.tfs.client.common.ui.teambuild.actions.SetPriorityAction.AboveNormal"
	                label="%action.queuedBuild.setPriority.aboveNormal.label"
	                menubarPath="com.microsoft.tfs.client.common.ui.teambuild.priority.popupSubMenu/content"/>
		         <action
	                class="com.microsoft.tfs.client.common.ui.teambuild.actions.SetPriorityAction"
	                enablesFor="+"
	                id="com.microsoft.tfs.client.common.ui.teambuild.actions.SetPriorityAction.High"
	                label="%action.queuedBuild.setPriority.high.label"
	                menubarPath="com.microsoft.tfs.client.common.ui.teambuild.priority.popupSubMenu/content"/>
           <action
                 class="com.microsoft.tfs.client.common.ui.teambuild.actions.ViewShelvesetAction"
                 enablesFor="1"
                 id="com.microsoft.tfs.client.common.ui.teambuild.ViewShelvesetAction"
                 label="%action.buildDetail.viewShelveset.label"
                 menubarPath="group2.top">
           </action>
           <action
                 class="com.microsoft.tfs.client.common.ui.teambuild.actions.ViewExternalBuildReportAction"
                 enablesFor="*"
                 icon="platform:/plugin/com.microsoft.tfs.client.common.ui/images/webpage/open_in_browser.gif"
                 id="com.microsoft.tfs.client.common.ui.teambuild.actions.ViewExternalBuildReportAction2"
                 label="%action.queuedBuild.viewExternalBuildDetail.label"
                 menubarPath="group2.top">
           </action>

	         <action
                class="com.microsoft.tfs.client.common.ui.teambuild.actions.ViewBuildReportAction"
                enablesFor="*"
                id="com.microsoft.tfs.client.common.ui.teambuild.actions.ViewBuildDetailAction"
                icon="platform:/plugin/com.microsoft.tfs.client.common.ui/images/common/query_open.gif"
                label="%action.queuedBuild.viewBuildDetail.label"
                menubarPath="group2.top"/>

          </objectContribution>

	      <objectContribution
	            adaptable="false"
	            id="com.microsoft.tfs.client.common.ui.teambuild.buildexplorer.BuildDetail"
	            objectClass="com.microsoft.tfs.core.clients.build.IBuildDetail">
          <action
                class="com.microsoft.tfs.client.common.ui.teambuild.teamexplorer.actions.ViewControllerQueueForBuildDetailAction"
                enablesFor="1"
                id="com.microsoft.tfs.client.common.ui.teambuild.teamexplorer.actions.ViewControllerQueueForBuildDetailAction"
                label="%action.teamExplorerBuildDefinitionNode.viewconrollerqueue.label"
                menubarPath="group4">
          </action>

	         <action
                class="com.microsoft.tfs.client.common.ui.teambuild.actions.EditBuildDefinitionFromDetailsAction"
                enablesFor="+"
                id="com.microsoft.tfs.client.common.ui.teambuild.actions.EditBuildDefinitionFromDetailsAction"
                label="%action.buildDetail.editBuildDefinition.label"
                menubarPath="group4"/>
	         <action
                class="com.microsoft.tfs.client.common.ui.teambuild.teamexplorer.actions.QueueBuildAction"
                enablesFor="*"
                id="com.microsoft.tfs.client.common.ui.teambuild.teamexplorer.actions.QueueBuildAction"
                icon="platform:/plugin/com.microsoft.tfs.client.common.ui.teambuild/icons/QueueBuild.gif"
                label="%action.buildDetail.queueBuild.label"
                menubarPath="group4"/>

	         <action
                class="com.microsoft.tfs.client.common.ui.teambuild.actions.DeleteBuildAction"
                enablesFor="+"
                id="com.microsoft.tfs.client.common.ui.teambuild.actions.DeleteBuildAction"
                icon="platform:/plugin/com.microsoft.tfs.client.common.ui.teambuild/icons/Delete.gif"
                label="%action.buildDetail.deleteBuild.label"
                menubarPath="group2"/>
             <action
                class="com.microsoft.tfs.client.common.ui.teambuild.actions.UnshelveChangesAction"
                enablesFor="1"
                id="com.microsoft.tfs.client.common.ui.teambuild.actions.UnshelveChangesAction"
                label="%action.buildDetail.unshelveChanges.label"
                menubarPath="group2">
             </action>
             <action
                class="com.microsoft.tfs.client.common.ui.teambuild.actions.ReconcileWorkspaceAction"
                enablesFor="1"
                id="com.microsoft.tfs.client.common.ui.teambuild.actions.ReconcileWorkspaceAction"
                label="%action.buildDetail.reconcileWorkspace.label"
                menubarPath="group2">
             </action>
	         <action
                class="com.microsoft.tfs.client.common.ui.teambuild.actions.ToggleProtectionAction"
                enablesFor="+"
                id="com.microsoft.tfs.client.common.ui.teambuild.actions.KeepBuildAction"
                icon="platform:/plugin/com.microsoft.tfs.client.common.ui.teambuild/icons/KeepForever.gif"
                label="%action.buildDetail.keepBuild.label"
                menubarPath="group2"/>
	         <action
                class="com.microsoft.tfs.client.common.ui.teambuild.actions.OpenDropFolderAction"
                enablesFor="1"
                id="com.microsoft.tfs.client.common.ui.teambuild.actions.OpenDropFolderAction"
                label="%action.buildDetail.openDropFolder.label"
                menubarPath="group2"/>
          <action
                class="com.microsoft.tfs.client.common.ui.teambuild.actions.ViewExternalBuildReportAction"
                enablesFor="1"
                icon="platform:/plugin/com.microsoft.tfs.client.common.ui/images/webpage/open_in_browser.gif"
                id="com.microsoft.tfs.client.common.ui.teambuild.actions.ViewExternalBuildReportAction"
                label="%action.buildDetail.viewExternalBuildDetail.label"
                menubarPath="group1">
          </action>
	         <action
                class="com.microsoft.tfs.client.common.ui.teambuild.actions.ViewBuildReportAction"
                enablesFor="1"
                id="com.microsoft.tfs.client.common.ui.teambuild.actions.ViewBuildDetailAction"
                icon="platform:/plugin/com.microsoft.tfs.client.common.ui/images/common/query_open.gif"
                label="%action.buildDetail.viewBuildDetail.label"
                menubarPath="group1"/>

          </objectContribution>
       <objectContribution
             adaptable="false"
             id="com.microsoft.tfs.client.common.ui.teambuild.buildexplorer.BuildDetail.editquality"
             objectClass="com.microsoft.tfs.core.clients.build.IBuildDetail">
          <action
                class="com.microsoft.tfs.client.common.ui.teambuild.actions.EditBuildQualityAction"
                enablesFor="1"
                icon="platform:/plugin/com.microsoft.tfs.client.common.ui.teambuild/icons/EditBuildQuality.gif"
                id="com.microsoft.tfs.client.common.ui.teambuild.actions.EditBuildQualityAction"
                label="%action.buildDetail.editBuildQuality.label"
                menubarPath="group3">
          </action>
          <visibility>
             <objectState
                   name="ActiveWorkbenchPart"
                   value="com.microsoft.tfs.client.common.ui.teambuild.editors.BuildExplorer">
             </objectState>
          </visibility>
       </objectContribution>
       <objectContribution
             adaptable="false"
             id="com.microsoft.tfs.core.clients.build.IBuildDefinition"
             objectClass="com.microsoft.tfs.core.clients.build.IBuildDefinition">
          <action
                class="com.microsoft.tfs.client.common.ui.teambuild.teamexplorer.actions.ViewControllerQueueForDefinitionAction"
                enablesFor="1"
                id="com.microsoft.tfs.client.common.ui.teambuild.teamexplorer.actions.ViewControllerQueueForDefinitionAction"
                label="%action.teamExplorerBuildDefinitionNode.viewconrollerqueue.label"
                menubarPath="group4">
          </action>
          <action
                class="com.microsoft.tfs.client.common.ui.teambuild.teamexplorer.actions.OpenBuildConfigurationFolderAction"
                enablesFor="1"
                icon="platform:/plugin/com.microsoft.tfs.client.common.ui/images/common/query_open.gif"
                id="com.microsoft.tfs.client.common.ui.teambuild.teamexplorer.actions.OpenBuildConfigurationFolderAction"
                label="%action.teamExplorerBuildDefinitionNode.openBuildConfigurationFolder.label"
                menubarPath="group4">
          </action>
          <action
                class="com.microsoft.tfs.client.common.ui.teambuild.teamexplorer.actions.EditBuildDefinitionAction"
                enablesFor="1"
                id="com.microsoft.tfs.client.common.ui.teambuild.teamexplorer.actions.EditBuildDefinitionAction"
                label="%action.teamExplorerBuildDefinitionNode.editBuildDefinition.label"
                menubarPath="group4">
          </action>
          <action
                class="com.microsoft.tfs.client.common.ui.teambuild.teamexplorer.actions.QueueBuildAction"
                enablesFor="1"
                icon="platform:/plugin/com.microsoft.tfs.client.common.ui.teambuild/icons/QueueBuild.gif"
                id="com.microsoft.tfs.client.common.ui.teambuild.teamexplorer.actions.QueueBuildAction"
                label="%action.teamExplorerBuildDefinitionNode.queueBuild.label"
                menubarPath="group4">
          </action>
          <action
                class="com.microsoft.tfs.client.common.ui.teambuild.teamexplorer.actions.ViewBuildsForDefinitionAction"
                enablesFor="1"
                id="com.microsoft.tfs.client.common.ui.teambuild.teamexplorer.actions.ViewBuildsForDefinitionAction"
                label="%action.teamExplorerBuildDefinitionNode.viewBuildsForDefinition.label"
                menubarPath="group4">
          </action>
          <action
                class="com.microsoft.tfs.client.common.ui.teambuild.teamexplorer.actions.DeleteBuildDefinitionAction"
                enablesFor="1"
                icon="platform:/plugin/com.microsoft.tfs.client.common.ui.teambuild/icons/Delete.gif"
                id="com.microsoft.tfs.client.common.ui.teambuild.teamexplorer.actions.DeleteBuildDefinitionAction"
                label="%action.teamExplorerBuildDefinitionNode.deleteBuildDefinition.label"
                menubarPath="group5">
          </action>
       </objectContribution>
       <objectContribution
             adaptable="false"
             id="com.microsoft.tfs.core.clients.build.IBuildDefinition.teamfavorites"
             objectClass="com.microsoft.tfs.core.clients.build.IBuildDefinition">
          <action
                class="com.microsoft.tfs.client.common.ui.teambuild.teamexplorer.actions.AddDefinitionToTeamFavoritesAction"
                enablesFor="+"
                icon="platform:/plugin/com.microsoft.tfs.client.common.ui/images/teamexplorer/Favorites.png"
                id="com.microsoft.tfs.client.common.ui.teambuild.teamexplorer.actions.AddDefinitionToTeamFavoritesAction"
                label="%action.teamExplorerBuildDefinitionNode.addToTeamFavorites.label"
                menubarPath="group9">
          </action>
          <visibility>
             <objectState
                   name="SupportsTeamFavorites"
                   value="true">
             </objectState>
          </visibility>
       </objectContribution>
       <objectContribution
             adaptable="false"
             id="com.microsoft.tfs.core.clients.build.IBuildDefinition.myfavorites"
             objectClass="com.microsoft.tfs.core.clients.build.IBuildDefinition">
          <action
                class="com.microsoft.tfs.client.common.ui.teambuild.teamexplorer.actions.AddDefinitionToMyFavoritesAction"
                enablesFor="+"
                icon="platform:/plugin/com.microsoft.tfs.client.common.ui/images/teamexplorer/Favorites.png"
                id="com.microsoft.tfs.client.common.ui.teambuild.teamexplorer.actions.AddDefinitionToMyFavoritesAction"
                label="%action.teamExplorerBuildDefinitionNode.addToMyFavorites.label"
                menubarPath="group9">
          </action>
          <visibility>
             <objectState
                   name="SupportsMyFavorites"
                   value="true">
             </objectState>
          </visibility>
       </objectContribution>
       <objectContribution
             adaptable="false"
             id="com.microsoft.tfs.client.common.ui.teambuild.teamexplorer.favorites.BuildFavoriteItem"
             objectClass="com.microsoft.tfs.client.common.ui.teambuild.teamexplorer.favorites.BuildFavoriteItem">
          <action
                class="com.microsoft.tfs.client.common.ui.teambuild.teamexplorer.actions.ViewControllerQueueForDefinitionAction"
                enablesFor="1"
                id="com.microsoft.tfs.client.common.ui.teambuild.teamexplorer.actions.ViewControllerQueueForDefinitionAction"
                label="%action.teamExplorerBuildDefinitionNode.viewconrollerqueue.label"
                menubarPath="group4">
          </action>
          <action
                class="com.microsoft.tfs.client.common.ui.teambuild.teamexplorer.actions.OpenBuildConfigurationFolderAction"
                enablesFor="1"
                icon="platform:/plugin/com.microsoft.tfs.client.common.ui/images/common/query_open.gif"
                id="com.microsoft.tfs.client.common.ui.teambuild.teamexplorer.actions.OpenBuildConfigurationFolderAction"
                label="%action.teamExplorerBuildDefinitionNode.openBuildConfigurationFolder.label"
                menubarPath="group4">
          </action>
          <action
                class="com.microsoft.tfs.client.common.ui.teambuild.teamexplorer.actions.EditBuildDefinitionAction"
                enablesFor="1"
                id="com.microsoft.tfs.client.common.ui.teambuild.teamexplorer.actions.EditBuildDefinitionAction"
                label="%action.teamExplorerBuildDefinitionNode.editBuildDefinition.label"
                menubarPath="group4">
          </action>
          <action
                class="com.microsoft.tfs.client.common.ui.teambuild.teamexplorer.actions.QueueBuildAction"
                enablesFor="1"
                icon="platform:/plugin/com.microsoft.tfs.client.common.ui.teambuild/icons/QueueBuild.gif"
                id="com.microsoft.tfs.client.common.ui.teambuild.teamexplorer.actions.QueueBuildAction"
                label="%action.teamExplorerBuildDefinitionNode.queueBuild.label"
                menubarPath="group4">
          </action>
          <action
                class="com.microsoft.tfs.client.common.ui.teambuild.teamexplorer.actions.ViewBuildsForDefinitionAction"
                enablesFor="1"
                id="com.microsoft.tfs.client.common.ui.teambuild.teamexplorer.actions.ViewBuildsForDefinitionAction"
                label="%action.teamExplorerBuildDefinitionNode.viewBuildsForDefinition.label"
                menubarPath="group4">
          </action>
          <visibility>
             <objectState
                   name="XAML"
                   value="true">
             </objectState>
          </visibility>
       </objectContribution>
       <objectContribution
             adaptable="false"
             id="com.microsoft.tfs.client.common.ui.teambuild.teamexplorer.favorites.vnext.BuildFavoriteItem"
             objectClass="com.microsoft.tfs.client.common.ui.teambuild.teamexplorer.favorites.BuildFavoriteItem">
          <action
                class="com.microsoft.tfs.client.common.ui.teambuild.teamexplorer.actions.QueueBuildVNextAction"
                enablesFor="1"
                id="com.microsoft.tfs.client.common.ui.teambuild.teamexplorer.actions.QueueBildVNextAction"
                label="%action.buildDefinition.vnext.queueBuildVNext.label"
                menubarPath="group4">
          </action>
          <action
                class="com.microsoft.tfs.client.common.ui.teambuild.teamexplorer.actions.ViewBuildsVNextAction"
                enablesFor="1"
                id="com.microsoft.tfs.client.common.ui.teambuild.teamexplorer.actions.ViewBildsVNextAction"
                label="%action.buildDefinition.vnext.viewBuildsVNext.label"
                menubarPath="group4">
          </action>
          <action
                class="com.microsoft.tfs.client.common.ui.teambuild.teamexplorer.actions.OpenBuildDefinitionVNextAction"
                enablesFor="1"
                icon="platform:/plugin/com.microsoft.tfs.client.common.ui/images/webpage/open_in_browser.gif"
                id="com.microsoft.tfs.client.common.ui.teambuild.teamexplorer.actions.OpenBildDefinitionVNextAction"
                label="%action.buildDefinition.vnext.openBuildDefinitionVNext.label"
                menubarPath="group5">
          </action>
          <visibility>
             <objectState
                   name="BUILD"
                   value="true">
             </objectState>
          </visibility>
       </objectContribution>
       <objectContribution
             adaptable="false"
             id="com.microsoft.tfs.client.common.ui.teambuild.teamexplorer.favorites.PrivateBuildFavoriteItem"
             objectClass="com.microsoft.tfs.client.common.ui.teambuild.teamexplorer.favorites.PrivateBuildFavoriteItem">
          <action
                class="com.microsoft.tfs.client.common.ui.teambuild.teamexplorer.actions.RemoveDefinitionFromMyFavoritesAction"
                enablesFor="+"
                icon="platform:/plugin/com.microsoft.tfs.client.common.ui/images/common/delete.gif"
                id="com.microsoft.tfs.client.common.ui.teambuild.teamexplorer.actions.RemoveDefinitionFromMyFavoritesAction"
                label="%action.buildFavorite.remove.label"
                menubarPath="group8">
          </action>
       </objectContribution>
       <objectContribution
             adaptable="false"
             id="com.microsoft.tfs.client.common.ui.teambuild.teamexplorer.favorites.TeamBuildFavoriteItem"
             objectClass="com.microsoft.tfs.client.common.ui.teambuild.teamexplorer.favorites.TeamBuildFavoriteItem">
          <action
                class="com.microsoft.tfs.client.common.ui.teambuild.teamexplorer.actions.RemoveDefinitionFromTeamFavoritesAction"
                enablesFor="+"
                icon="platform:/plugin/com.microsoft.tfs.client.common.ui/images/common/delete.gif"
                id="com.microsoft.tfs.client.common.ui.teambuild.teamexplorer.actions.RemoveDefinitionFromTeamFavoritesAction"
                label="%action.buildFavorite.remove.label"
                menubarPath="group8">
          </action>
       </objectContribution>
       <objectContribution
             adaptable="false"
             id="com.microsoft.tfs.client.common.ui.teambuild.teamexplorer.vnext.BuildDefinition"
             objectClass="com.microsoft.teamfoundation.build.webapi.model.BuildDefinitionReference">
          <action
                class="com.microsoft.tfs.client.common.ui.teambuild.teamexplorer.actions.QueueBuildVNextAction"
                enablesFor="1"
                id="com.microsoft.tfs.client.common.ui.teambuild.teamexplorer.actions.QueueBildVNextAction"
                label="%action.buildDefinition.vnext.queueBuildVNext.label"
                menubarPath="group4">
          </action>
          <action
                class="com.microsoft.tfs.client.common.ui.teambuild.teamexplorer.actions.ViewBuildsVNextAction"
                enablesFor="1"
                id="com.microsoft.tfs.client.common.ui.teambuild.teamexplorer.actions.ViewBildsVNextAction"
                label="%action.buildDefinition.vnext.viewBuildsVNext.label"
                menubarPath="group4">
          </action>
          <action
                class="com.microsoft.tfs.client.common.ui.teambuild.teamexplorer.actions.OpenBuildDefinitionVNextAction"
                enablesFor="1"
                icon="platform:/plugin/com.microsoft.tfs.client.common.ui/images/webpage/open_in_browser.gif"
                id="com.microsoft.tfs.client.common.ui.teambuild.teamexplorer.actions.OpenBildDefinitionVNextAction"
                label="%action.buildDefinition.vnext.openBuildDefinitionVNext.label"
                menubarPath="group5">
          </action>
       </objectContribution>
       <objectContribution
             adaptable="false"
             id="com.microsoft.teamfoundation.build.webapi.model.DefinitionReference.teamfavorites"
             objectClass="com.microsoft.teamfoundation.build.webapi.model.DefinitionReference">
          <action
                class="com.microsoft.tfs.client.common.ui.teambuild.teamexplorer.actions.AddDefinitionToTeamFavoritesAction"
                enablesFor="+"
                icon="platform:/plugin/com.microsoft.tfs.client.common.ui/images/teamexplorer/Favorites.png"
                id="com.microsoft.tfs.client.common.ui.teambuild.teamexplorer.actions.AddDefinitionToTeamFavoritesAction"
                label="%action.teamExplorerBuildDefinitionNode.addToTeamFavorites.label"
                menubarPath="group6">
          </action>
          <visibility>
             <objectState
                   name="SupportsTeamFavorites"
                   value="true">
             </objectState>
          </visibility>
       </objectContribution>
       <objectContribution
             adaptable="false"
             id="com.microsoft.teamfoundation.build.webapi.model.DefinitionReference.myfavorites"
             objectClass="com.microsoft.teamfoundation.build.webapi.model.DefinitionReference">
          <action
                class="com.microsoft.tfs.client.common.ui.teambuild.teamexplorer.actions.AddDefinitionToMyFavoritesAction"
                enablesFor="+"
                icon="platform:/plugin/com.microsoft.tfs.client.common.ui/images/teamexplorer/Favorites.png"
                id="com.microsoft.tfs.client.common.ui.teambuild.teamexplorer.actions.AddDefinitionToMyFavoritesAction"
                label="%action.teamExplorerBuildDefinitionNode.addToMyFavorites.label"
                menubarPath="group6">
          </action>
          <visibility>
             <objectState
                   name="SupportsMyFavorites"
                   value="true">
             </objectState>
          </visibility>
       </objectContribution>

   </extension>


   	<extension point="org.eclipse.ui.contexts">
		<context
			id="com.microsoft.tfs.client.common.ui.teambuild.buildexplorer"
			name="%context.teamBuild.name"
			description="%context.teamBuild.description" />
	</extension>

    <extension
          point="org.eclipse.ui.editorActions">
       <editorContribution
             id="com.microsoft.tfs.client.common.ui.teambuild.buildexplorer.editorContribution"
             targetID="com.microsoft.tfs.client.common.ui.teambuild.editors.BuildExplorer">
		<menu
        id="com.microsoft.tfs.build"
        label="%menu.buildExplorer.label"
        path="additions">
        	<separator
               name="queue" />
        	<separator
               name="build" />
        	<separator
               name="global" />
         <separator
               name="additions">
         </separator>
        </menu>

         <action
            class="com.microsoft.tfs.client.common.ui.teambuild.actions.ManageBuildQualitiesAction"
            enablesFor="+"
            id="com.microsoft.tfs.client.common.ui.teambuild.actions.ManageBuildQualitiesAction"
            icon="platform:/plugin/com.microsoft.tfs.client.common.ui.teambuild/icons/ManageQualities.gif"
            label="%action.buildExplorer.manageBuildQualities.label"
            menubarPath="com.microsoft.tfs.build/additions"
            style="push"
            toolbarPath="com.microsoft.tfs.build.additions"
            tooltip="%action.buildExplorer.manageBuildQualities.tooltip"/>
         <action
            class="com.microsoft.tfs.client.common.ui.teambuild.teamexplorer.actions.QueueBuildAction"
            enablesFor="+"
            id="com.microsoft.tfs.client.common.ui.teambuild.teamexplorer.actions.QueueBuildAction"
            icon="platform:/plugin/com.microsoft.tfs.client.common.ui.teambuild/icons/QueueBuild.gif"
            label="%action.buildExplorer.queueBuild.label"
            menubarPath="com.microsoft.tfs.build/global"
            style="push"
            toolbarPath="com.microsoft.tfs.build.global"
            tooltip="%action.buildExplorer.queueBuild.tooltip"/>
         <action
            class="com.microsoft.tfs.client.common.ui.teambuild.actions.DeleteBuildAction"
            enablesFor="+"
            id="com.microsoft.tfs.client.common.ui.teambuild.actions.DeleteBuildAction"
            icon="platform:/plugin/com.microsoft.tfs.client.common.ui.teambuild/icons/Delete.gif"
            label="%action.buildExplorer.deleteBuild.label"
            menubarPath="com.microsoft.tfs.build/build"
            style="push"
            toolbarPath="com.microsoft.tfs.build.build"
            tooltip="%action.buildExplorer.deleteBuild.tooltip"/>
         <action
               class="com.microsoft.tfs.client.common.ui.teambuild.actions.ToggleProtectionAction"
               enablesFor="+"
               icon="platform:/plugin/com.microsoft.tfs.client.common.ui.teambuild/icons/KeepForever.gif"
               id="com.microsoft.tfs.client.common.ui.teambuild.actions.KeepBuildAction"
               label="%action.buildExplorer.keepBuild.label"
               menubarPath="com.microsoft.tfs.build/build"
               style="toggle"
               toolbarPath="com.microsoft.tfs.build.build"
               tooltip="%action.buildExplorer.keepBuild.tooltip"/>
        <action
              class="com.microsoft.tfs.client.common.ui.teambuild.actions.EditBuildQualityAction"
              enablesFor="1"
              icon="platform:/plugin/com.microsoft.tfs.client.common.ui.teambuild/icons/EditBuildQuality.gif"
              id="com.microsoft.tfs.client.common.ui.teambuild.actions.EditBuildQualityAction"
              label="%action.buildExplorer.editBuildQuality.label"
              menubarPath="com.microsoft.tfs.build/build"
              style="push"
              toolbarPath="com.microsoft.tfs.build.build"
              tooltip="%action.buildExplorer.editBuildQuality.tooltip"/>
        <action
              class="com.microsoft.tfs.client.common.ui.teambuild.actions.StopBuildAction"
              enablesFor="+"
              id="com.microsoft.tfs.client.common.ui.teambuild.actions.StopBuildAction"
              icon="platform:/plugin/com.microsoft.tfs.client.common.ui.teambuild/icons/QueueStatusCanceled.gif"
              label="%action.buildExplorer.stopBuild.label"
              menubarPath="com.microsoft.tfs.build/queue"
              style="push"
              toolbarPath="com.microsoft.tfs.build.queue"
              tooltip="%action.buildExplorer.stopBuild.tooltip"/>
        <action
	          class="com.microsoft.tfs.client.common.ui.teambuild.actions.PostponeBuildAction"
	          enablesFor="+"
	          id="com.microsoft.tfs.client.common.ui.teambuild.actions.PostponeBuildAction"
	          icon="platform:/plugin/com.microsoft.tfs.client.common.ui.teambuild/icons/QueueStatusPostponed.gif"
	          label="%action.buildExplorer.postponeBuild.label"
              menubarPath="com.microsoft.tfs.build/queue"
              style="toggle"
              toolbarPath="com.microsoft.tfs.build.queue"
              tooltip="%action.buildExplorer.postponeBuild.tooltip"/>

       </editorContribution>
    </extension>

    <extension
          point="com.microsoft.tfs.client.common.ui.teambuild.createBuildConfigurationWizards">
       <wizard
             canFinishEarly="false"
             class="com.microsoft.tfs.client.common.ui.teambuild.wizards.V2AntBuildWizard"
             fromTFSVersion="2"
             hasPages="true"
             icon="icons/ant.gif"
             id="com.microsoft.tfs.client.common.ui.teambuild.wizards.V2AntBuildWizard"
             name="%createBuildConfigurationWizard.v2ant.name">
       </wizard>
       <wizard
             canFinishEarly="false"
             class="com.microsoft.tfs.client.common.ui.teambuild.wizards.V2MavenBuildWizard"
             fromTFSVersion="2"
             hasPages="true"
             icon="icons/maven.gif"
             id="com.microsoft.tfs.client.common.ui.teambuild.wizards.V2MavenBuildWizard"
             name="%createBuildConfigurationWizard.v2maven.name">
       </wizard>
       <wizard
             canFinishEarly="false"
             class="com.microsoft.tfs.client.common.ui.teambuild.wizards.GitAntBuildWizard"
             fromTFSVersion="2"
             hasPages="true"
             icon="icons/ant.gif"
             id="com.microsoft.tfs.client.common.ui.teambuild.wizards.GitAntBuildWizard"
             name="%createBuildConfigurationWizard.v2ant.name">
       </wizard>
       <wizard
             canFinishEarly="false"
             class="com.microsoft.tfs.client.common.ui.teambuild.wizards.GitMavenBuildWizard"
             fromTFSVersion="2"
             hasPages="true"
             icon="icons/maven.gif"
             id="com.microsoft.tfs.client.common.ui.teambuild.wizards.GitMavenBuildWizard"
             name="%createBuildConfigurationWizard.v2maven.name">
       </wizard>
       <wizard
             canFinishEarly="false"
             class="com.microsoft.tfs.client.common.ui.teambuild.wizards.v1.ant.V1AntBuildWizard"
             fromTFSVersion="1"
             hasPages="true"
             icon="icons/ant.gif"
             id="com.microsoft.tfs.client.common.ui.teambuild.wizards.v1ant.V1AntBuildWizard"
             name="%createBuildConfigurationWizard.v1ant.name"
             toTFSVersion="1">
       </wizard>
    </extension>


    <extension
          point="com.microsoft.tfs.client.common.ui.queueGatedCheckinBuild">
       <queueBuild
             class="com.microsoft.tfs.client.common.ui.teambuild.QueueGatedCheckinBuild"
             id="com.microsoft.tfs.client.common.ui.teambuild.QueueGatedCheckinBuild">
       </queueBuild>
    </extension>
    <extension
          point="com.microsoft.tfs.client.common.ui.teamExplorerNavigationItem">
       <teamExplorerNavigationItem
             class="com.microsoft.tfs.client.common.ui.teambuild.teamexplorer.items.TeamExplorerBuildNavigationItem"
             displayPriority="500"
             icon="icons/teamexplorer/Builds.png"
             id="com.microsoft.tfs.client.common.ui.teambuild.teamexplorer.items.TeamExplorerBuildNavigationItem"
             targetPageID="com.microsoft.tfs.client.common.ui.teambuild.teamexplorer.pages.TeamExplorerBuildPage"
             viewID="com.microsoft.tfs.client.common.ui.teambuild.teamexplorer.views.TeamExplorerBuildView"
             title="%extension.teamExplorer.page.builds.name">
       </teamExplorerNavigationItem>
    </extension>
    <extension
          point="com.microsoft.tfs.client.common.ui.teamExplorerPage">
       <teamExplorerPage
             class="com.microsoft.tfs.client.common.ui.teambuild.teamexplorer.pages.TeamExplorerBuildPage"
             displayPriority="500"
             id="com.microsoft.tfs.client.common.ui.teambuild.teamexplorer.pages.TeamExplorerBuildPage"
             title="%extension.teamExplorer.page.builds.name">
       </teamExplorerPage>
    </extension>
    <extension
           point="com.microsoft.tfs.client.common.ui.teamExplorerNavigationLink">
        <teamExplorerNavigationLink
              class="com.microsoft.tfs.client.common.ui.teambuild.teamexplorer.links.TeamExplorerViewBuildsNavigationLink"
              displayPriority="100"
              id="com.microsoft.tfs.client.common.ui.teambuild.teamexplorer.links.TeamExplorerViewBuildsNavigationLink"
              parentID="com.microsoft.tfs.client.common.ui.teambuild.teamexplorer.items.TeamExplorerBuildNavigationItem"
              title="%extension.teamExplorer.link.viewbuilds.name">
        </teamExplorerNavigationLink>
        <teamExplorerNavigationLink
              class="com.microsoft.tfs.client.common.ui.teambuild.teamexplorer.links.TeamExplorerBuildQueueNavigationLink"
              displayPriority="200"
              id="com.microsoft.tfs.client.common.ui.teambuild.teamexplorer.links.TeamExplorerBuildQueueNavigationLink"
              parentID="com.microsoft.tfs.client.common.ui.teambuild.teamexplorer.items.TeamExplorerBuildNavigationItem"
              title="%extension.teamExplorer.link.buildqueue.name">
        </teamExplorerNavigationLink>     
    </extension>
    <extension
          point="com.microsoft.tfs.client.common.ui.teamExplorerPageSection">
       <teamExplorerPageSection
             class="com.microsoft.tfs.client.common.ui.teambuild.teamexplorer.sections.TeamExplorerBuildsMyBuildsSection"
             displayPriority="100"
             id="com.microsoft.tfs.client.common.ui.teambuild.teamexplorer.sections.TeamExplorerBuildsMyBuildsSection"
             pageID="com.microsoft.tfs.client.common.ui.teambuild.teamexplorer.pages.TeamExplorerBuildPage"
             title="%extension.teamExplorer.section.builds.mybuilds">
       </teamExplorerPageSection>
       <teamExplorerPageSection
             class="com.microsoft.tfs.client.common.ui.teambuild.teamexplorer.sections.TeamExplorerBuildsMyFavoritesSection"
             displayPriority="200"
             id="com.microsoft.tfs.client.common.ui.teambuild.teamexplorer.sections.TeamExplorerBuildsMyFavoritesSection"
             pageID="com.microsoft.tfs.client.common.ui.teambuild.teamexplorer.pages.TeamExplorerBuildPage"
             title="%extension.teamExplorer.section.builds.myfavorites">
       </teamExplorerPageSection>
       <teamExplorerPageSection
             class="com.microsoft.tfs.client.common.ui.teambuild.teamexplorer.sections.TeamExplorerBuildsTeamFavoritesSection"
             displayPriority="300"
             id="com.microsoft.tfs.client.common.ui.teambuild.teamexplorer.sections.TeamExplorerBuildsTeamFavoritesSection"
             pageID="com.microsoft.tfs.client.common.ui.teambuild.teamexplorer.pages.TeamExplorerBuildPage"
             title="%extension.teamExplorer.section.builds.teamfavorites">
       </teamExplorerPageSection>
       <teamExplorerPageSection
             class="com.microsoft.tfs.client.common.ui.teambuild.teamexplorer.sections.TeamExplorerBuildsVNextDefinitionSection"
             displayPriority="400"
             id="com.microsoft.tfs.client.common.ui.teambuild.teamexplorer.sections.TeamExplorerBuildsVNextDefinitionSection"
             pageID="com.microsoft.tfs.client.common.ui.teambuild.teamexplorer.pages.TeamExplorerBuildPage"
             title="%extension.teamExplorer.section.builds.vnext.definitions">
       </teamExplorerPageSection>
       <teamExplorerPageSection
             class="com.microsoft.tfs.client.common.ui.teambuild.teamexplorer.sections.TeamExplorerBuildsDefinitionSection"
             displayPriority="500"
             id="com.microsoft.tfs.client.common.ui.teambuild.teamexplorer.sections.TeamExplorerBuildsDefinitionSection"
             pageID="com.microsoft.tfs.client.common.ui.teambuild.teamexplorer.pages.TeamExplorerBuildPage"
             title="%extension.teamExplorer.section.builds.definitions">
       </teamExplorerPageSection>
    </extension>
    <extension
          point="org.eclipse.core.runtime.adapters">
       <factory
             adaptableType="com.microsoft.tfs.client.common.ui.teambuild.teamexplorer.favorites.BuildFavoriteItem"
             class="com.microsoft.tfs.client.common.ui.teambuild.adapters.BuildFavoriteAdapterFactory">
          <adapter
                type="org.eclipse.ui.IActionFilter">
          </adapter>
       </factory>
       <factory
             adaptableType="com.microsoft.teamfoundation.build.webapi.model.DefinitionReference"
             class="com.microsoft.tfs.client.common.ui.adapters.AdapterFactory">
          <adapter
                type="org.eclipse.ui.IActionFilter">
          </adapter>
       </factory>
       <factory
             adaptableType="com.microsoft.tfs.core.clients.build.IBuildDefinition"
             class="com.microsoft.tfs.client.common.ui.adapters.AdapterFactory">
          <adapter
                type="org.eclipse.ui.IActionFilter">
          </adapter>
       </factory>
       <factory
             adaptableType="com.microsoft.tfs.core.clients.build.IBuildDetail"
             class="com.microsoft.tfs.client.common.ui.adapters.AdapterFactory">
          <adapter
                type="org.eclipse.ui.IActionFilter">
          </adapter>
       </factory>
    </extension>
</plugin>
