<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

     <extension point="com.microsoft.tfs.checkinpolicies.checkinPolicy">
      <policy
        typeID="com.teamprise.checkinpolicies.checkforcomments.CheckForCommentsPolicy-1"
        class="com.microsoft.tfs.checkinpolicies.checkforcomments.CheckForCommentsPolicy" />
   </extension>

</plugin>
