<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
     <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="com.microsoft.tfs.client.common.ui.vcexplorer.TFSPerspective"
            icon="icons/TeamFoundationServer.gif"
            id="com.microsoft.tfs.client.common.ui.vcexplorer.tfsexplorer"
            name="%perspective.tfs.name"/>
   	 </extension>
	 <extension
	   point="org.eclipse.ui.perspectiveExtensions">
		<perspectiveExtension
		      targetID="com.microsoft.tfs.client.common.ui.vcexplorer.tfsexplorer">
		   <perspectiveShortcut id="com.microsoft.tfs.client.common.ui.vcexplorer.tfsexplorer"/>
		   <viewShortcut id="com.microsoft.tfs.client.common.ui.views.TeamExplorerView"/>
		   <viewShortcut id="com.microsoft.tfs.client.common.ui.views.PendingChangesView"/>
		   <viewShortcut id="com.microsoft.tfs.client.common.ui.teambuild.teamexplorer.views.TeamExplorerBuildView"/>                       
		</perspectiveExtension>
	 </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.microsoft.tfs.client.common.ui.vcexplorer.versioncontrol.VersionControlEditor"
            contributorClass="com.microsoft.tfs.client.common.ui.vcexplorer.versioncontrol.VersionControlEditorActionContributor"
            default="false"
            icon="icons/VersionControl.gif"
            id="com.microsoft.tfs.client.common.ui.vcexplorer.VersionControlEditor"
            name="%editor.versionControl.name"/>
              <editor
            class="com.microsoft.tfs.client.common.ui.vcexplorer.versioncontrol.FindInSourceControlEditor"
            contributorClass="com.microsoft.tfs.client.common.ui.vcexplorer.versioncontrol.FindInSourceControlEditorActionContributor"
            default="false"
            icon="icons/findinsce.gif"
            id="com.microsoft.tfs.client.common.ui.vcexplorer.versioncontrol.FindInSourceControlEditor"
            name="%editor.FindInSourceControlEditor.name"/>
   </extension>


   <extension
         point="org.eclipse.ui.popupMenus">

<!-- Version Control Context Menus -->

<!-- Team Server Context Menu -->

	      <objectContribution
	            adaptable="false"
	            id="com.microsoft.tfs.client.common.ui.vcexplorer.versioncontrol.Properties"
	            objectClass="com.microsoft.tfs.client.common.ui.vc.tfsitem.TFSFolder">

			<action
			    class="com.microsoft.tfs.client.common.ui.vcexplorer.versioncontrol.actions.AddAction"
			    enablesFor="1"
			    icon="platform:/plugin/com.microsoft.tfs.client.common.ui/images/vc/add.gif"
			    id="com.microsoft.tfs.client.common.ui.vcexplorer.versioncontrol.actions.AddAction"
			    label="%action.tfsFolder.add.label"
			    menubarPath="group8"/>
			<action
			    class="com.microsoft.tfs.client.common.ui.vcexplorer.versioncontrol.actions.ConvertToBranchAction"
			    enablesFor="1"
			    icon="platform:/plugin/com.microsoft.tfs.client.common.ui/images/vc/convert_folder_to_branch.gif"
			    id="com.microsoft.tfs.client.common.ui.vcexplorer.versioncontrol.actions.ConvertToBranchAction"
			    label="%action.tfsFolder.convertToBranch.label"
			    menubarPath="group7"/>
			    
			<action
			    class="com.microsoft.tfs.client.common.ui.vcexplorer.findinsce.actions.FindInSourceControlAction"
			    enablesFor="1"
			    id="com.microsoft.tfs.client.common.ui.vcexplorer.versioncontrol.actions.FindInSourceControlAction"
			    label="%action.findInSourceControlAction.label"
			    icon="icons/findinsce.gif"
			    menubarPath="group5"/>

		  </objectContribution>
		  
	      <objectContribution
	             adaptable="false"
	             id="com.microsoft.tfs.client.common.ui.vcexplorer.versioncontrol.Properties"
	             objectClass="com.microsoft.tfs.client.common.ui.vc.tfsitem.TFSItem">
	          <action
	                class="com.microsoft.tfs.client.common.ui.vcexplorer.versioncontrol.actions.NewFolderAction"
	                enablesFor="1"
	                icon="platform:/plugin/com.microsoft.tfs.client.common.ui/images/vc/newfolder.gif"
	                id="com.microsoft.tfs.client.common.ui.vcexplorer.versioncontrol.actions.NewFolderAction"
	                label="%action.tfsItem.newFolder.label"
	                menubarPath="group1"/>
	          <action
	                class="com.microsoft.tfs.client.common.ui.vcexplorer.versioncontrol.actions.ViewAction"
	                enablesFor="1"
	                icon="platform:/plugin/com.microsoft.tfs.client.common.ui/images/vc/view.gif"
	                id="com.microsoft.tfs.client.common.ui.vcexplorer.versioncontrol.actions.ViewAction"
	                label="%action.tfsItem.view.label"
	                menubarPath="group1"
	                tooltip="%action.tfsItem.view.tooltip"/>
	          <action
	                class="com.microsoft.tfs.client.common.ui.vcexplorer.versioncontrol.actions.RefreshAction"
	                definitionId="com.microsoft.tfs.client.common.ui.vcexplorer.versioncontrol.commands.Refresh"
	                enablesFor="1"
	                icon="platform:/plugin/com.microsoft.tfs.client.common.ui/images/common/refresh.gif"
	                id="com.microsoft.tfs.client.common.ui.vcexplorer.versioncontrol.actions.RefreshAction"
	                label="%action.tfsItem.refresh.label"
	                menubarPath="group10"/>
	          <action
	                class="com.microsoft.tfs.client.common.ui.vcexplorer.versioncontrol.actions.PropertiesAction"
	                definitionId="com.microsoft.tfs.client.common.ui.vcexplorer.versioncontrol.commands.Properties"
	                enablesFor="1"
	                id="com.microsoft.tfs.client.common.ui.vcexplorer.versioncontrol.actions.PropertiesAction"
	                label="%action.tfsItem.properties.label"
	                menubarPath="group9"/>
	          <action
	                class="com.microsoft.tfs.client.common.ui.vcexplorer.versioncontrol.actions.MergeAction"
	                definitionId="com.microsoft.tfs.client.common.ui.vcexplorer.versioncontrol.commands.Merge"
	                enablesFor="1"
	                icon="platform:/plugin/com.microsoft.tfs.client.common.ui/images/vc/merge.gif"
	                id="com.microsoft.tfs.client.common.ui.vcexplorer.versioncontrol.actions.MergeAction"
	                label="%action.tfsItem.merge.label"
	                menubarPath="group7"/>
	          <action
	                class="com.microsoft.tfs.client.common.ui.vcexplorer.versioncontrol.actions.BranchAction"
	                definitionId="com.microsoft.tfs.client.common.ui.vcexplorer.versioncontrol.commands.Branch"
	                enablesFor="1"
	                icon="platform:/plugin/com.microsoft.tfs.client.common.ui/images/vc/branch.gif"
	                id="com.microsoft.tfs.client.common.ui.vcexplorer.versioncontrol.actions.BranchAction"
	                label="%action.tfsItem.branch.label"
	                menubarPath="group7"/>
	          <action
	                class="com.microsoft.tfs.client.common.ui.vcexplorer.versioncontrol.actions.LabelAction"
	                definitionId="com.microsoft.tfs.client.common.ui.vcexplorer.versioncontrol.commands.Label"
	                enablesFor="+"
	                id="com.microsoft.tfs.client.common.ui.vcexplorer.versioncontrol.actions.LabelAction"
	                label="%action.tfsItem.label.label"
	                menubarPath="group6"/>
	          <action
	                class="com.microsoft.tfs.client.common.ui.vcexplorer.versioncontrol.actions.FindLabelAction"
	                definitionId="com.microsoft.tfs.client.common.ui.vcexplorer.versioncontrol.commands.FindLabel"
	                enablesFor="*"
	                id="com.microsoft.tfs.client.common.ui.vcexplorer.versioncontrol.actions.FindLabelAction"
	                label="%action.tfsItem.findLabel.label"
	                menubarPath="group6"/>
	          <action
	                class="com.microsoft.tfs.client.common.ui.vcexplorer.versioncontrol.actions.MoveAction"
	                definitionId="com.microsoft.tfs.client.common.ui.vcexplorer.versioncontrol.commands.Move"
	                enablesFor="1"
	                id="com.microsoft.tfs.client.common.ui.vcexplorer.versioncontrol.actions.MoveAction"
	                label="%action.tfsItem.move.label"
	                menubarPath="group6"/>
	          <action
	                class="com.microsoft.tfs.client.common.ui.vcexplorer.versioncontrol.actions.GotoChangesetAction"
	                definitionId="com.microsoft.tfs.client.common.ui.vcexplorer.versioncontrol.commands.GotoChangeset"
	                enablesFor="+"
	                icon="platform:/plugin/com.microsoft.tfs.client.common.ui/images/vc/goto.gif"
	                id="com.microsoft.tfs.client.common.ui.vcexplorer.versioncontrol.actions.GotoChangesetAction"
	                label="%action.tfsItem.gotoChangeset.label"
	                menubarPath="group5"/>
	          <action
	                class="com.microsoft.tfs.client.common.ui.vcexplorer.versioncontrol.actions.CompareAction"
	                definitionId="com.microsoft.tfs.client.common.ui.vcexplorer.versioncontrol.commands.Compare"
	                enablesFor="1"
	                id="com.microsoft.tfs.client.common.ui.vcexplorer.versioncontrol.actions.CompareAction"
	                label="%action.tfsItem.compare.label"
	                menubarPath="group5"/>
	          <action
	                class="com.microsoft.tfs.client.common.ui.vcexplorer.versioncontrol.actions.HistoryAction"
	                definitionId="com.microsoft.tfs.client.common.ui.vcexplorer.versioncontrol.commands.History"
	                enablesFor="1"
	                icon="platform:/plugin/com.microsoft.tfs.client.common.ui/images/vc/history.gif"
	                id="com.microsoft.tfs.client.common.ui.vcexplorer.versioncontrol.actions.HistoryAction"
	                label="%action.tfsItem.history.label"
	                menubarPath="group5"/>
	          <action
	                class="com.microsoft.tfs.client.common.ui.vcexplorer.versioncontrol.actions.ShelveAction"
	                definitionId="com.microsoft.tfs.client.common.ui.vcexplorer.versioncontrol.commands.Shelve"
	                enablesFor="+"
	                icon="platform:/plugin/com.microsoft.tfs.client.common.ui/images/vc/shelve.gif"
	                id="com.microsoft.tfs.client.common.ui.vcexplorer.versioncontrol.actions.ShelveAction"
	                label="%action.tfsItem.shelve.label"
	                menubarPath="group4"/>
	          <action
	                class="com.microsoft.tfs.client.common.ui.vcexplorer.versioncontrol.actions.CheckinAction"
	                definitionId="com.microsoft.tfs.client.common.ui.vcexplorer.versioncontrol.commands.CheckIn"
	                enablesFor="+"
	                icon="platform:/plugin/com.microsoft.tfs.client.common.ui/images/vc/checkin.gif"
	                id="com.microsoft.tfs.client.common.ui.vcexplorer.versioncontrol.actions.CheckinAction"
	                label="%action.tfsItem.checkin.label"
	                menubarPath="group4"/>
	          <action
	                class="com.microsoft.tfs.client.common.ui.vcexplorer.versioncontrol.actions.UndoPendingChangesAction"
	                definitionId="com.microsoft.tfs.client.common.ui.vcexplorer.versioncontrol.commands.Undo"
	                enablesFor="+"
	                icon="platform:/plugin/com.microsoft.tfs.client.common.ui/images/vc/undo.gif"
	                id="com.microsoft.tfs.client.common.ui.vcexplorer.versioncontrol.actions.UndoPendingChangesAction"
	                label="%action.tfsItem.undoPendingChanges.label"
	                menubarPath="group3"/>
	          <action
	                class="com.microsoft.tfs.client.common.ui.vcexplorer.versioncontrol.actions.RollbackAction"
	                definitionId="com.microsoft.tfs.client.common.ui.vcexplorer.versioncontrol.commands.Rollback"
	                enablesFor="1"
	                id="com.microsoft.tfs.client.common.ui.vcexplorer.versioncontrol.actions.RollbackAction"
	                label="%action.tfsItem.rollback.label"
	                menubarPath="group3"/>
	          <action
	                class="com.microsoft.tfs.client.common.ui.vcexplorer.versioncontrol.actions.RenameAction"
	                definitionId="com.microsoft.tfs.client.common.ui.vcexplorer.versioncontrol.commands.Rename"
	                enablesFor="1"
	                id="com.microsoft.tfs.client.common.ui.vcexplorer.versioncontrol.actions.RenameAction"
	                label="%action.tfsItem.rename.label"
	                menubarPath="group3"/>
	          <action
	                class="com.microsoft.tfs.client.common.ui.vcexplorer.versioncontrol.actions.UndeleteAction"
	                definitionId="com.microsoft.tfs.client.common.ui.vcexplorer.versioncontrol.commands.Undelete"
	                enablesFor="+"
	                id="com.microsoft.tfs.client.common.ui.vcexplorer.versioncontrol.actions.UndeleteAction"
	                label="%action.tfsItem.undelete.label"
	                menubarPath="group3"/>
	          <action
	                class="com.microsoft.tfs.client.common.ui.vcexplorer.versioncontrol.actions.DeleteAction"
	                definitionId="com.microsoft.tfs.client.common.ui.vcexplorer.versioncontrol.commands.Delete"
	                enablesFor="+"
	                icon="platform:/plugin/com.microsoft.tfs.client.common.ui/images/vc/delete.gif"
	                id="com.microsoft.tfs.client.common.ui.vcexplorer.versioncontrol.actions.DeleteAction"
	                label="%action.tfsItem.delete.label"
	                menubarPath="group3"/>
	          <action
	                class="com.microsoft.tfs.client.common.ui.vcexplorer.versioncontrol.actions.UnlockAction"
	                definitionId="com.microsoft.tfs.client.common.ui.vcexplorer.versioncontrol.commands.Unlock"
	                enablesFor="+"
	                id="com.microsoft.tfs.client.common.ui.vcexplorer.versioncontrol.actions.UnlockAction"
	                label="%action.tfsItem.unlock.label"
	                menubarPath="group3"/>
	          <action
	                class="com.microsoft.tfs.client.common.ui.vcexplorer.versioncontrol.actions.LockAction"
	                definitionId="com.microsoft.tfs.client.common.ui.vcexplorer.versioncontrol.commands.Lock"
	                enablesFor="+"
	                icon="platform:/plugin/com.microsoft.tfs.client.common.ui/images/vc/lock.gif"
	                id="com.microsoft.tfs.client.common.ui.vcexplorer.versioncontrol.actions.LockAction"
	                label="%action.tfsItem.lock.label"
	                menubarPath="group3"/>
	          <action
	                class="com.microsoft.tfs.client.common.ui.vcexplorer.versioncontrol.actions.CheckoutAction"
	                definitionId="com.microsoft.tfs.client.common.ui.vcexplorer.versioncontrol.commands.Checkout"
	                enablesFor="+"
	                icon="platform:/plugin/com.microsoft.tfs.client.common.ui/images/vc/checkout.gif"
	                id="com.microsoft.tfs.client.common.ui.vcexplorer.versioncontrol.actions.CheckoutAction"
	                label="%action.tfsItem.checkout.label"
	                menubarPath="group3"/>
	          <action
	                class="com.microsoft.tfs.client.common.ui.vcexplorer.versioncontrol.actions.GetSpecificAction"
	                definitionId="com.microsoft.tfs.client.common.ui.vcexplorer.versioncontrol.commands.GetSpecific"
	                enablesFor="+"
	                icon="platform:/plugin/com.microsoft.tfs.client.common.ui/images/vc/getspecific.gif"
	                id="com.microsoft.tfs.client.common.ui.vcexplorer.versioncontrol.actions.GetSpecificAction"
	                label="%action.tfsItem.getSpecific.label"
	                menubarPath="group2"/>
	          <action
	                class="com.microsoft.tfs.client.common.ui.vcexplorer.versioncontrol.actions.GetLatestAction"
	                definitionId="com.microsoft.tfs.client.common.ui.vcexplorer.versioncontrol.commands.GetLatest"
	                enablesFor="+"
	                icon="platform:/plugin/com.microsoft.tfs.client.common.ui/images/vc/getlatest.gif"
	                id="com.microsoft.tfs.client.common.ui.vcexplorer.versioncontrol.actions.GetLatestAction"
	                label="%action.tfsItem.getLatest.label"
	                menubarPath="group2"/>
	       </objectContribution>
		  
	       <objectContribution
	             adaptable="false"
	             id="com.microsoft.tfs.client.common.ui.vcexplorer.versioncontrol.SetWorkingFolder"
	             objectClass="com.microsoft.tfs.client.common.ui.vc.tfsitem.TFSFolder">
	          <action
	                class="com.microsoft.tfs.client.common.ui.vcexplorer.versioncontrol.actions.SetWorkingFolderAction"
	                definitionId="com.microsoft.tfs.client.common.ui.vcexplorer.versioncontrol.commands.SetWorkingFolder"
	                enablesFor="1"
	                id="com.microsoft.tfs.client.common.ui.vcexplorer.versioncontrol.actions.SetWorkingFolderAction"
	                label="%action.tfsFolder.setWorkingFolder.label"
	                menubarPath="group1">
	          </action>
	          <filter
	                name="MappingState"
	                value="Unmapped">
	          </filter>
	       </objectContribution>
       
	       <objectContribution
	             adaptable="false"
	             id="com.microsoft.tfs.client.common.ui.vcexplorer.versioncontrol.RemoveMapping"
	             objectClass="com.microsoft.tfs.client.common.ui.vc.tfsitem.TFSFolder">
	          <action
	                class="com.microsoft.tfs.client.common.ui.vcexplorer.versioncontrol.actions.RemoveWorkingFolderAction"
	                enablesFor="1"
	                id="com.microsoft.tfs.client.common.ui.vcexplorer.versioncontrol.actions.RemoveWorkingFolderAction"
	                label="%action.tfsFolder.removeMapping.label"
	                menubarPath="group1">
	          </action>
	          <filter
	                name="MappingState"
	                value="ExactMapping">
	          </filter>
	       </objectContribution>
       
	       <objectContribution
	             adaptable="false"
	             id="com.microsoft.tfs.client.common.ui.vcexplorer.versioncontrol.Cloak"
	             objectClass="com.microsoft.tfs.client.common.ui.vc.tfsitem.TFSFolder">
	          <action
	                class="com.microsoft.tfs.client.common.ui.vcexplorer.versioncontrol.actions.CloakWorkingFolderAction"
	                enablesFor="1"
	                id="com.microsoft.tfs.client.common.ui.vcexplorer.versioncontrol.actions.CloakWorkingFolderAction"
	                label="%action.tfsFolder.cloakFolder.label"
	                menubarPath="group1">
	          </action>
	          <filter
	                name="MappingState"
	                value="MappedByParent">
	          </filter>
	       </objectContribution>
	       
	       <objectContribution
	             adaptable="false"
	             id="com.microsoft.tfs.client.common.ui.vcexplorer.versioncontrol.Uncloak"
	             objectClass="com.microsoft.tfs.client.common.ui.vc.tfsitem.TFSFolder">
	          <action
	                class="com.microsoft.tfs.client.common.ui.vcexplorer.versioncontrol.actions.UncloakWorkingFolderAction"
	                enablesFor="1"
	                id="com.microsoft.tfs.client.common.ui.vcexplorer.versioncontrol.actions.UncloakWorkingFolderAction"
	                label="%action.tfsFolder.uncloakFolder.label"
	                menubarPath="group1">
	          </action>
	          <filter
	                name="MappingState"
	                value="Cloaked">
	          </filter>
	       </objectContribution>

   </extension>

   	<extension point="org.eclipse.ui.contexts">
		<context
        description="%context.versionControl.description"
        id="com.microsoft.tfs.client.common.ui.vcexplorer.versioncontrol.bindingContext"
        name="%context.versionControl.name"
        parentId="org.eclipse.ui.contexts.window"/>
	</extension>

   <extension
         point="org.eclipse.ui.commands">
      <category
            description="%category.versionControl.description"
            id="com.microsoft.tfs.client.common.ui.vcexplorer.versioncontrol"
            name="%category.versionControl.name">
      </category>
      <command
            categoryId="com.microsoft.tfs.client.common.ui.vcexplorer.versioncontrol"
            id="com.microsoft.tfs.client.common.ui.vcexplorer.versioncontrol.commands.GetLatest"
            name="%command.versionControl.getLatest.name"/>
      <command
            categoryId="com.microsoft.tfs.client.common.ui.vcexplorer.versioncontrol"
            id="com.microsoft.tfs.client.common.ui.vcexplorer.versioncontrol.commands.GetSpecific"
            name="%command.versionControl.getSpecific.name"/>
      <command
            categoryId="com.microsoft.tfs.client.common.ui.vcexplorer.versioncontrol"
            id="com.microsoft.tfs.client.common.ui.vcexplorer.versioncontrol.commands.Properties"
            name="%command.versionControl.properties.name"/>
      <command
            categoryId="com.microsoft.tfs.client.common.ui.vcexplorer.versioncontrol"
            id="com.microsoft.tfs.client.common.ui.vcexplorer.versioncontrol.commands.Move"
            name="%command.versionControl.move.name"/>
      <command
            categoryId="com.microsoft.tfs.client.common.ui.vcexplorer.versioncontrol"
            id="com.microsoft.tfs.client.common.ui.vcexplorer.versioncontrol.commands.Label"
            name="%command.versionControl.label.name"/>
      <command
            categoryId="com.microsoft.tfs.client.common.ui.vcexplorer.versioncontrol"
            id="com.microsoft.tfs.client.common.ui.vcexplorer.versioncontrol.commands.Branch"
            name="%command.versionControl.branch.name"/>
      <command
            categoryId="com.microsoft.tfs.client.common.ui.vcexplorer.versioncontrol"
            id="com.microsoft.tfs.client.common.ui.vcexplorer.versioncontrol.commands.Merge"
            name="%command.versionControl.merge.name"/>
      <command
            categoryId="com.microsoft.tfs.client.common.ui.vcexplorer.versioncontrol"
            id="com.microsoft.tfs.client.common.ui.vcexplorer.versioncontrol.commands.Compare"
            name="%command.versionControl.compare.name"/>
      <command
            categoryId="com.microsoft.tfs.client.common.ui.vcexplorer.versioncontrol"
            id="com.microsoft.tfs.client.common.ui.vcexplorer.versioncontrol.commands.History"
            name="%command.versionControl.history.name"/>
      <command
            categoryId="com.microsoft.tfs.client.common.ui.vcexplorer.versioncontrol"
            id="com.microsoft.tfs.client.common.ui.vcexplorer.versioncontrol.commands.GotoChangeset"
            name="%command.versionControl.gotoChangeset.name"/>
      <command
            categoryId="com.microsoft.tfs.client.common.ui.vcexplorer.versioncontrol"
            id="com.microsoft.tfs.client.common.ui.vcexplorer.versioncontrol.commands.CheckIn"
            name="%command.versionControl.checkin.name"/>
      <command
            categoryId="com.microsoft.tfs.client.common.ui.vcexplorer.versioncontrol"
            id="com.microsoft.tfs.client.common.ui.vcexplorer.versioncontrol.commands.Shelve"
            name="%command.versionControl.shelve.name"/>
      <command
            categoryId="com.microsoft.tfs.client.common.ui.vcexplorer.versioncontrol"
            id="com.microsoft.tfs.client.common.ui.vcexplorer.versioncontrol.commands.Undo"
            name="%command.versionControl.undo.name"/>
      <command
            categoryId="com.microsoft.tfs.client.common.ui.vcexplorer.versioncontrol"
            id="com.microsoft.tfs.client.common.ui.vcexplorer.versioncontrol.commands.Rollback"
            name="%command.versionControl.rollback.name"/>
      <command
            categoryId="com.microsoft.tfs.client.common.ui.vcexplorer.versioncontrol"
            id="com.microsoft.tfs.client.common.ui.vcexplorer.versioncontrol.commands.Rename"
            name="%command.versionControl.rename.name"/>
      <command
            categoryId="com.microsoft.tfs.client.common.ui.vcexplorer.versioncontrol"
            id="com.microsoft.tfs.client.common.ui.vcexplorer.versioncontrol.commands.Delete"
            name="%command.versionControl.delete.name"/>
      <command
            categoryId="com.microsoft.tfs.client.common.ui.vcexplorer.versioncontrol"
            id="com.microsoft.tfs.client.common.ui.vcexplorer.versioncontrol.commands.Lock"
            name="%command.versionControl.lock.name"/>
      <command
            categoryId="com.microsoft.tfs.client.common.ui.vcexplorer.versioncontrol"
            id="com.microsoft.tfs.client.common.ui.vcexplorer.versioncontrol.commands.Unlock"
            name="%command.versionControl.unlock.name"/>
      <command
            categoryId="com.microsoft.tfs.client.common.ui.vcexplorer.versioncontrol"
            id="com.microsoft.tfs.client.common.ui.vcexplorer.versioncontrol.commands.Checkout"
            name="%command.versionControl.checkout.name"/>
      <command
            categoryId="com.microsoft.tfs.client.common.ui.vcexplorer.versioncontrol"
            id="com.microsoft.tfs.client.common.ui.vcexplorer.versioncontrol.commands.SetWorkingFolder"
            name="%command.versionControl.setWorkingFolder.name"/>
      <command
            categoryId="com.microsoft.tfs.client.common.ui.vcexplorer.versioncontrol"
            id="com.microsoft.tfs.client.common.ui.vcexplorer.versioncontrol.commands.Undelete"
            name="%command.versionControl.undelete.name"/>
      <command
            categoryId="com.microsoft.tfs.client.common.ui.vcexplorer.versioncontrol"
            id="com.microsoft.tfs.client.common.ui.vcexplorer.versioncontrol.commands.FindLabel"
            name="%command.versionControl.findLabel.name"/>
      <command
            categoryId="com.microsoft.tfs.client.common.ui.vcexplorer.versioncontrol"
            id="com.microsoft.tfs.client.common.ui.vcexplorer.versioncontrol.commands.Refresh"
            name="%command.versionControl.refresh.name"/>
      <command
            categoryId="com.microsoft.tfs.client.common.ui.vcexplorer.versioncontrol"
            id="com.microsoft.tfs.client.common.ui.vcexplorer.versioncontrol.commands.ReturnOnline"
            name="%command.versionControl.returnOnline.name"/>
   </extension>

   <extension
         point="org.eclipse.ui.elementFactories">
      <factory
            class="com.microsoft.tfs.client.common.ui.vcexplorer.versioncontrol.VersionControlEditorInputFactory"
            id="com.microsoft.tfs.client.common.ui.vcexplorer.versioncontrol.VersionControlEditorInputFactory">
      </factory>
   </extension>
   <extension
         point="com.microsoft.tfs.client.common.ui.serverItemBrowser">
      <serverItemBrowser
            class="com.microsoft.tfs.client.common.ui.vcexplorer.versioncontrol.VersionControlEditorItemBrowser">
      </serverItemBrowser>
   </extension>
   <extension
         point="com.microsoft.tfs.client.common.ui.teamExplorerNavigationItem">
      <teamExplorerNavigationItem
            class="com.microsoft.tfs.client.common.ui.vcexplorer.teamexplorer.TeamExplorerVersionControlNavigationItem"
            displayPriority="150"
            icon="icons/VersionControl.png"
            id="com.microsoft.tfs.client.common.ui.vcexplorer.teamexplorer.TeamExplorerVersionControlNavigationItem"
            title="%extension.teamExplorer.sourcecontrolexplorer.name">
      </teamExplorerNavigationItem>
   </extension>
</plugin>
