<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<fragment>
   <extension
         point="org.eclipse.ui.importWizards">
      <category
            id="org.eclipse.egit.ui.internal.clone.gitclonecategory"
            name="Git">
      </category>
      <wizard
            category="org.eclipse.egit.ui.internal.clone.gitclonecategory"
            class="com.microsoft.tfs.client.eclipse.ui.egit.importwizard.GitImportWizard"
            icon="images/wizard/icon_import.gif"
            id="com.microsoft.tfs.client.egit.ui.importwizard.ImportGitWizard"
            name="%gitImportWizard.name">
            <description>
                %gitImportWizard.description
            </description>
      </wizard>
   </extension>
   <extension
         point="com.microsoft.tfs.client.common.ui.teamExplorerNavigationItem">
      <teamExplorerNavigationItem
            class="com.microsoft.tfs.client.eclipse.ui.egit.teamexplorer.TeamExplorerGitExplorerNavigationItem"
            displayPriority="101"
            icon="images/teamexplorer/GitExplorer.png"
            id="com.microsoft.tfs.client.eclipse.ui.teamexplorer.TeamExplorerGitExplorerNavigationItem"
            targetPageID="com.microsoft.tfs.client.eclipse.ui.egit.teamexplorer.TeamExplorerGitExplorerPage"
            title="%extension.teamExplorer.navItem.gitExplorer.name">
      </teamExplorerNavigationItem>
   </extension>
   <extension
         point="com.microsoft.tfs.client.common.ui.teamExplorerNavigationLink">
      <teamExplorerNavigationLink
            class="com.microsoft.tfs.client.eclipse.ui.egit.teamexplorer.TeamExplorerGitWizardNavigationLink"
            displayPriority="100"
            id="com.microsoft.tfs.client.eclipse.ui.teamexplorer.TeamExplorerGitWizardNavigationLink"
            parentID="com.microsoft.tfs.client.eclipse.ui.teamexplorer.TeamExplorerGitExplorerNavigationItem"
            title="%extension.teamExplorer.link.gitwizard.name">
      </teamExplorerNavigationLink>
      <teamExplorerNavigationLink
            class="com.microsoft.tfs.client.eclipse.ui.egit.teamexplorer.TeamExplorerProtocolHandlerNavigationLink"
            displayPriority="100"
            id="com.microsoft.tfs.client.eclipse.ui.egit.teamexplorer.TeamExplorerProtocolHandlerNavigationLink"
            parentID="com.microsoft.tfs.client.common.ui.teamexplorer.pages.TeamExplorerHomePage"
            title="%extension.teamExplorer.link.protocolHandler.name">
      </teamExplorerNavigationLink>
   </extension>
   <extension
          point="com.microsoft.tfs.client.common.ui.teamExplorerPage">
       <teamExplorerPage
             class="com.microsoft.tfs.client.eclipse.ui.egit.teamexplorer.TeamExplorerGitExplorerPage"
             displayPriority="500"
             id="com.microsoft.tfs.client.eclipse.ui.egit.teamexplorer.TeamExplorerGitExplorerPage"
             title="%extension.teamExplorer.navItem.gitExplorer.name">
       </teamExplorerPage>
   </extension>
   <extension
          point="com.microsoft.tfs.client.common.ui.teamExplorerPageSection">
       <teamExplorerPageSection
             class="com.microsoft.tfs.client.eclipse.ui.egit.teamexplorer.TeamExplorerGitRepositoriesSection"
             displayPriority="100"
             id="com.microsoft.tfs.client.eclipse.ui.egit.teamexplorer.TeamExplorerGitRepositoriesSection"
             pageID="com.microsoft.tfs.client.eclipse.ui.egit.teamexplorer.TeamExplorerGitExplorerPage"
             title="%extension.teamExplorer.section.gitExplorer.repository">
       </teamExplorerPageSection>
   </extension>
</fragment>
