<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="3.5 with EGit 2.1.0" sequenceNumber="4">
<locations>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.sdk.ide" version="3.5.2.M20100211-1343"/>
<repository location="http://download.eclipse.org/eclipse/updates/3.5"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.egit.feature.group" version="2.1.0.201209190230-r"/>
<unit id="org.eclipse.jgit.feature.group" version="2.1.0.201209190230-r"/>
<unit id="org.eclipse.egit.source.feature.group" version="2.1.0.201209190230-r"/>
<unit id="org.eclipse.jgit.source.feature.group" version="2.1.0.201209190230-r"/>
<repository location="http://archive.eclipse.org/egit/updates-2.1"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.slf4j.impl.log4j12" version="1.7.2.v20131105-2200"/>
<unit id="org.slf4j.api.source" version="1.7.2.v20121108-1250"/>
<unit id="org.slf4j.api" version="1.7.2.v20121108-1250"/>
<unit id="org.slf4j.impl.log4j12.source" version="1.7.2.v20131105-2200"/>
<repository location="http://download.eclipse.org/tools/orbit/downloads/drops/R20150124073747/repository"/>
</location>
</locations>
</target>
